<?xml version="1.0"?>
<model>
  <name>Basic Rover</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Andrei Lazar</name>
   <email>andrei.lazar.18@ucl.ac.uk</email>
  </author>

  <description>
    Very basic representation of a rover, containing a box placed on top of 4 spheres that act as wheels.
  </description>
</model>
